<div class="text-center title">
  Process Flow
</div>
<hr>
<div class="container">
  <button (click)="nodeContainer.addNode()">Create new node</button>
  <app-nodes-container #nodeContainer [nodes]="nodes" [connections]="connections" [groups]="groups">
  </app-nodes-container>
  <div class="group" id="{{group.id}}" *ngFor="let group of data.groups; index as groupIndex;">
    <div class="group-title">{{group.title}}</div>
    <div class="group-content">
      <div class="item" id="{{item.id}}" *ngFor="let item of filterItemsInGroup(group.id); index as itemIndex;">
        {{item.name}}
      </div>
    </div>
  </div>
</div>