* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 10px;
}

.title {
    color: #7c7777; 
}
.container {
    position: relative;
    width: 100%;
    height: 90%;
}

.group {
    min-height: 150px;
    border-radius: 2px;
    border: 1px solid #c9c9c9;
    font-size: 12px;
    cursor: move;
    z-index: 10;
    margin: 10px;
}

.group-content {
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.group-title {
    margin: 0;
    align-items: center;
    color: #7c7777; 
    font-size: 13px;
    text-transform: uppercase;
    padding: 7px;
    box-sizing: border-box;
}

.item {
    border: 1px solid #c9c9c9;
    color: #7c7777; 
    width: 150px;
    height: 75px;
    line-height: 75px;
    margin: 10px;
    text-align: center;
}